*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --bg-color:#202328;
    --second-bg-color: #2c322c;
    --main-color: #09b523;
}
html{
    font-size:65.5%;
    overflow-x:hidden;
}
body{
    background:var(--bg-color);
    color:white;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2)
}
.logo{
    font-size: 2.5rem;
    color:white;
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color:white;
    margin-left: 4rem;
    transition:1s;
}
.navbar a:hover,.navbar a.active{
    color:var(--main-color);
    font-size: 2rem;
}
#menu{
    font-size: 3.6rem;
    color:white;
    display:none;
}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
}
.homeContent h3{
    font-size:3.2rem;
    font-weight: 700;
}
.homeContent h3:nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color: var(--main-color);
}
.homeContent h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.homeImg img{
    width:35vw;
}
.homeContent p{
    font-size:1.6rem;
}
.socialMedia a{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.socialMedia a:hover{
    background: var(--main-color);
    color: white;
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    
    padding:  1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: white;
    font-size: 1.6rem;
    letter-spacing:  .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}




.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.aboutImg{
    display:flex;
    justify-content: center;
    align-items: center;
    width:35vw; 
    margin-right: 4rem;
}
.heading{
    font-size: 4rem;
}
.aboutContent h2{
    line-height: 1.2;

}
.aboutContent h3{
    font-size: 2.6rem;
}
.aboutContent p{
    font-size: 1.6rem;
    margin: 2rem 0;

}





.services h2{
    text-align: center;
    margin-bottom: 5rem;
}
.servicesContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 2rem;
}
.servicesContainer .servicesBox{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    text-align: center;
    transition:.5s ease;
}
.servicesContainer .servicesBox:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.servicesBox i{
    font-size: 7rem;
    color: var(--main-color);

}
.servicesBox h3{
    font-size: 2.6rem;

}
.servicesBox p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}





.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    text-align: center;
    margin-bottom: 2.5rem;
}
.portfolioContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;

}
.portfolioContainer .portfolioBox{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolioBox img{
    width: 100%;
    transition:.5s ease;
}
.portfolioBox:hover img{
    transform:scale(1.1);
}
.portfolioBox .portfolioLayer{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:translateY(100%);
    transition: .5s ease;
}
.portfolioBox:hover .portfolioLayer{
    transform:translateY(0);
}
.portfolioLayer h4{
    font-size: 3rem;

}
.portfolioLayer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolioLayer a{
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height:5rem;
    background:white;
    border-radius:50%;
}




.contact .contactContents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    font-size: 18px;

}
.contact h2{
    text-align: center;
}
.contact1{
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.contact1 a{
    display: flex;
    margin: 5px 10px;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    color: white;
    margin: 15px;
}
.contact1 a p{
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    transition: .8s;
}
.contact1 a p:hover{
    box-shadow: 0 0 1rem white;
}
.contact1 i{
    color: var(--main-color);
    margin: 0 15px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 24px;
    transition: .5s;
}
.contact1 i:hover{
    color: white;
    box-shadow: 0 0 1rem white;
}
.contact2{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.contact2 input,textarea{
    color: white;
    background-color: var(--second-bg-color);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 15px;
    width: 90%;
}





.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footerText p{
    font-size: 1.6rem;
}
.iconTop a{
    display:inline-flex;
    float: right;
    justify-content: center;
    align-items: center;
    padding:.8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: 0.5s ease;
}
.iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


#msg{
    display: block;
    font-size: 14px;
    font-weight: 550;
    margin-top: 10px;
}


@media (max-width : 1200px){
    html{
        font-size:55%;
    }
    
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .footer{
        padding:2rem 3%;
    }
    .contact .contactContents{
        margin: 20px 25px 0 25px;
        grid-template-columns: repeat(1,1fr);
    }
    .contact1 a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contact2{
        margin-top: 20px;
    }
    .contact2 input,textarea{
        margin: 15px;
        
    }
}
@media (max-width: 768px){
    #menu{
        display:block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        padding:1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display:none;
        
    }
    .navbar.active{
        display:block;
    }
    .navbar a{
        display: block;
        font-size:2rem;
        margin:3rem 0;
    }
    .home{
        text-align: center;
        flex-direction: column;
    }
    .homeContent h3{
        font-size: 2.6rem;
    }
    .homeContent h1{
        font-size: 5rem;
    }
    
    .homeImg img{
        width:70vw;
        margin-top: 4rem;
    }
    .about{
        text-align: center;
        flex-direction: column-reverse;
    }
    .aboutContent{
        text-align: center;
    }
    .about img{
        width:65vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 5rem;
    }
    .portfolioContainer{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px){
    .services {
        text-align: center;
    }
    .services .heading{
        font-size:26px;
    }
    .portfolio{
        text-align: center;
    }
    .portfolio .heading{
        font-size: 26px;
    }
    .contact{
        text-align: center;
        font-size: 26px;
    }
    .footer .footerText p{
        font-size: 12px;
    }
}

@media (max-width: 400px){
    .contact .contactContents{
        margin: 20px 10px 0 10px;
        font-size: 14px;
    }
    .contact2 input,textarea{
        margin: 8px;
    }
    .contact1{
        display: block;
        text-align: center;
        padding: 15px 6px;
        border-radius: 10px;
        border: 2px solid var(--main-color);
        box-shadow: 0 0 1rem var(--main-color);
    }
    .contact1 h1{
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .contact1 a{
        display: flex;
        margin: 8px 8px;
        justify-content: left;
        font-size: 14px;
        padding: 3px;
    }
    .contact1 a i{
        font-size: 12px;
    }
    .contact2{
        padding: 15px 6px;
        
    }
    .contact2 input,textarea{
        padding: 5px;
        border-radius: 5px;
        border: none;
        margin: 8px 5px;
        width: 90%;
    }
    .contact2 .btn{
        margin-top: 10px;
    }
    .footer .footerText p{
        font-size: 10px;
    }
    .footer .iconTop a i{
        font-size: 14px;
    }
    
}